.task-list {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .task-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #3498db;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .task-button:hover {
    background-color: #0b5ed7;
  }
 
  .editable-fields {
    display: flex;
    align-items: center;
  }
  
  .edit-input {
    border: 1px solid #3498db;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
  }

  .edit-buttons {
    display: flex;
    align-items: center;
  }
  

  .completed-task {
    text-decoration: line-through;
  }
  